---
title: "Technology that's about people."
layout: splash
permalink: /
date: 2018-03-01T00:00:00-00:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/odk/banner.jpg
  cta_label: "<i class='fas fa-download'></i> Get ODK Tools"
  cta_url: "/software/"
  caption: "Photo credit: [**Unknown Person**](https://example.com)"
excerpt: "Open Data Kit builds free and open source tools to help organizations magnify human resources through mobile technology."
intro:
  - excerpt: "**Open Data Kit (ODK) is a collection of free and open-source software tools that aspire to help people achive more, better and faster, through mobile technology.** Our widely adopted ODK 1 Suite helps organizations author, collect, and manage mobile data collection solutions. <br /><br />In addition to socio-economic and health surveys with GPS locations and images, ODK is being used to create decision support for clinicians and for building multimedia-rich nature mapping tools. Our software provides out-of-the-box solutions for many needs."
feature_row:
  - image_path: /assets/images/design.png
    alt: "Build data collection forms using powerful tools."
    title: "Build data collection forms using powerful tools."
    excerpt: "Collect critical information from other people using forms, created using our easy-to-use, drag-and-drop design tools. From simple Q&A to powerful logic flows, we've got you covered."
  - image_path: /assets/images/visualize.png
    alt: "Collect, upload, aggregate, & extract data."
    title: "Collect, upload, aggregate, & extract data."
    excerpt: "Use our mobile applications on tablets or phones to easily collect responses like text, locations, and media. Then manage, visualize, and export that data using our tools."
  - image_path: /assets/images/scaling.png
    alt: "Powerful and flexible tools that grow with you."
    title: "Powerful and flexible tools that grow with you."
    excerpt: "Our new ODK 2 suite of information management tools are designed for powerful data collection and analysis needs. We work with our advanced users to help them build the tools they need."
feature_row2:
  - image_path: /assets/images/people.jpg
    alt: "How we do it"
    title: "How we do it"
    excerpt: "We welcome and encourage participation from our users around the world! ODK is supported by a growing community of developers, implementers, and users -- as well as various organizations. Core ODK development is supported by ongoing research at the University of Washington's Department of Computer Science & Engineering (UW-CSE), and through donations from users. <br /><br />ODK project governance is currently being transitioned from a UW-CSE project to a community supported and controlled project. More information can be found on this website."
    url: "/community/"
    btn_label: "<i class='fas fa-users'></i> Get Involved!"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}
